@layer utils {
    .hidden {
        display: none;
    }
    
    .active {
        display: unset;
    }

    .highlighted {
        background-color: rgba(210, 149, 16, 1);
    }

    .inner-outline-red {
        border: unset;
        outline: 2.5px solid rgb(255 0 0 / 1);
        outline-offset: -2.5px;
    }

    .inner-outline-brown {
        border: unset;
        outline: 5px inset rgb(162 42 42 / 1);
        outline-offset: -5px;
    }
}