@layer modules {
    .settings {
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: 2em auto;
        
        h2 {
            grid-column: 1 / 4;
        }
        
        .score-settings {
            grid-column: 1 / 2;
        }

        .beatmap-query-settings {
            grid-column: 2 / 3;
        }
        
        .grouping-settings {
            grid-column: 3 / 4;
        }
    }
}